@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'GillSans';
    src: url('./fonts/Gill\ Sans.otf') format('otf');
    font-family: 'GillSansBoldItalic';
    src: url('./fonts/Gill\ Sans\ Bold.otf') format('otf');
    font-family: 'GillSansBold';
    src: url('./fonts/Gill\ Sans\ Bold\ Italic.otf') format('otf');
    font-family: 'GillSansHeavyItalic';
    src: url('./fonts/Gill\ Sans\ Heavy\ Italic.otf') format('otf');
    font-family: 'GillSansHeavy';
    src: url('./fonts/Gill\ Sans\ Heavy.otf') format('otf');
    font-style: normal;
    font-weight: 800;
    font-display: swap;

    font-family: 'GillSansItalic';
    src: url('./fonts/Gill\ Sans\ Italic.otf') format('otf');
    font-family: 'GillSansLightItalic';
    src: url('./fonts/Gill\ Sans\ Light\ Italic.otf') format('otf');
    font-family: 'GillSansLight';
    src: url('./fonts/Gill\ Sans\ Light.otf') format('otf');
    font-family: 'GillSansMItalic';
    src: url('./fonts/Gill\ Sans\ Medium\ Italic.otf') format('otf');
    font-family: 'GillSansMedium';
    src: url('./fonts/Gill\ Sans\ Medium.otf') format('otf');
    font-family: 'GillSansCondensed';
    src: url('./fonts/GillSans\ Condensed.otf') format('otf');
    font-family: 'GillSansCondensedBold';
    src: url('./fonts/GillSans-SemiBold.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animate-slide-infinite {
  animation: slide 15s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px); /* Altere o valor para ajustar a altura da flutuação */
  }
  100% {
    transform: translateY(0px);
  }
}

.float {
  animation: float 4s ease-in-out infinite;
}

@keyframes slide-background {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@media (min-width: 360px) {

  .bg-animation {
    background-image: url('../src/assets/toy-story-cloud.jpg');
    background-size: 300% auto;
    animation: slide-background 65s linear infinite;
    overflow: hidden;
  }
  
}

@media (min-width: 768px) {

  .bg-animation {
    background-image: url('../src/assets/toy-story-cloud.jpg');
    background-size: 240% auto;
    animation: slide-background 65s linear infinite;
    overflow: hidden;
  }
  
}

@media (min-width: 1024px) {

  .bg-animation {
    background-image: url('../src/assets/toy-story-cloud.jpg');
    background-size: 140% auto;
    animation: slide-background 65s linear infinite;
    overflow: hidden;
  }
  
}

@media (min-width: 1280px) {

  .bg-animation {
    background-image: url('../src/assets/toy-story-cloud.jpg');
    background-size: 110% auto;
    animation: slide-background 65s linear infinite;
  }
  
}
